@import url("https://fonts.cdnfonts.com/css/canela-text-trial");
@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Canela Deck Trial", sans-serif;
  --font-general: "Satoshi", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: 100%;
  background-color: #032427;
  font-family: var(--font-general);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2%;
  height: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.15rem;
  text-decoration: none;
  color: white;
  font-size: 1.31rem;
  font-family: var(--font-main);
}

.logo svg,
.logo span {
  color: #ff4d03;
  width: 1.2em;
  height: 1.2em;
}

.logo p {
  font-size: 1em;
  line-height: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  opacity: 50%;
  transition: all 0.3s ease;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.navbar a:hover {
  opacity: 100%;
  text-decoration: underline;
}

.button-header a {
  background-color: #ff4d03;

  border-radius: 20px;
  padding: 7px 22px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}

.button-header a:hover {
  background-color: #ffe2d5;
  color: black;
}

.main-content {
  max-width: 500px;
  width: 100%;
  padding: 6% 0 32px 0;
}

.title {
  cursor: default;
}

.title h1 {
  color: white;
  text-align: center;
  font-family: var(--font-main);
  letter-spacing: 0.1rem;
  line-height: 1.2em;
  margin-bottom: 5%;
  font-weight: 600;
}

.title span {
  color: #ff4d03;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 6%;
}

.subtitle p {
  color: #ffe2d5;
  text-align: center;
  font-weight: lighter;
  cursor: default;
}

.subtitle span {
  color: #ff4d03;
}

.button-main {
  text-align: center;
}

.button-main a {
  background-color: #ff4d03;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.button-main a:hover {
  background-color: #ffe2d5;
  color: black;
}
