* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: 100%;
  background-color: #032427;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.logo a {
  display: inline-flex;
  text-decoration: none;
  color: white;
}
